<template>
  <div v-if="!isExpanded" class="bg-black-black0 max-w-min rounded-full pl-3 pr-1 py-1 flex">
    <div @click="onThemeClick('theme-light')" class="rounded-full h-5 w-5 bg-themeColors-themeLight mr-1 cursor-pointer"/>
    <div @click="onThemeClick('theme-warm')" class="rounded-full h-5 w-5 bg-themeColors-themeWarm mr-1 cursor-pointer"/>
    <div @click="onThemeClick('theme-dark')" class="rounded-full h-5 w-5 bg-themeColors-themeDark mr-1 cursor-pointer"/>
    <div @click="onThemeClick('theme-contemporary')" class="rounded-full h-5 w-5 bg-themeColors-themContemporary mr-1 cursor-pointer"/>
  </div>
</template>

<script>
export default {
  name: 'ThemeSwitch',
  props: {
    onThemeClick: () => {}
  },

  data() {
    return {
    // [{ colorHex, isActive }, { colorHex, isActive }]
    colors: [
      {
        colorHex: '#8E44AD',
        isActive: true
      },
      {
        colorHex: '#2E86C1',
        isActive: false
      },
      {
        colorHex: '#34495E',
        isActive: false
      },
    ],
    isExpanded: false,
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
