@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
  --bg-background-primary: #ffffff;

  --font-primary: #0d2438;
  --font-secondary: #4e4e50;

  --border-color: #0d2438;

  --anchor-primary: green;

  --button-primary: green;
}

.theme-warm {
  --bg-background-primary: #eae7dc;

  --font-primary: #4e4e50;
  --font-secondary: #4e4e50;

  --border-color: #4e4e50;

  --anchor-primary: #e85a4f;

  --button-primary: #e85a4f;
}

.theme-dark {
  --bg-background-primary: #2f4454;

  --font-primary: #ffffff;
  --font-secondary: #4e4e50;

  --border-color: #ffffff;

  --anchor-primary: #da7b93;

  --button-primary: #da7b93;
}

.theme-contemporary {
  --bg-background-primary: #1a1a1d;

  --font-primary: #ffffff;
  --font-secondary: #ffffff;

  --border-color: #4e4e50;

  --anchor-primary: #c3073f;

  --button-primary: #c3073f;
}


blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre{
  margin: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: auto;
  /* overflow: hidden; */
  position: relative;
  margin: 0;
}
