<template>
  <div class="w-screen p-1 flex flex-row-reverse">
    <ThemeSwitch :onThemeClick="onThemeClick" />
  </div>
</template>

<script>
import ThemeSwitch from '../ThemeSwitch/ThemeSwitch.vue'

export default {
  name: 'NavBar',

  props: {
    onThemeClick: () => {}
  },

  components: {
    ThemeSwitch,
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

/* h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
} */
</style>
