<template>
  <swiper
    effect="cube"
    autoplay
    class="w-60 lg:w-4/12 lg:h-5/12 flex rounded-lg"
  >
    <swiper-slide tag='div' class="flex items-center rounded-lg">
      <img class="bg-contain w-full h-full rounded-lg" alt="sravani" src="../assets/1.jpeg">
    </swiper-slide>
    <swiper-slide tag='div' class="flex items-center rounded-lg">
      <img class="bg-contain w-full h-full rounded-lg" alt="sravani" src="../assets/2.jpeg">
    </swiper-slide>
    <swiper-slide tag='div' class="flex items-center rounded-lg">
      <img class="bg-contain w-full h-full rounded-lg" alt="sravani" src="../assets/3.jpeg">
    </swiper-slide>
    <swiper-slide tag='div' class="flex items-center rounded-lg">
      <img class="bg-contain w-full h-full rounded-lg" alt="sravani" src="../assets/4.jpeg">
    </swiper-slide>
    <swiper-slide tag='div' class="flex items-center rounded-lg">
      <img class="bg-contain w-full h-full rounded-lg" alt="sravani" src="../assets/5.jpeg">
    </swiper-slide>
  </swiper>
</template>
<script>
    // :slides-per-view="1"
    // :space-between="50"
    // @swiper="onSwiper"
    // @slideChange="onSlideChange"

  // Import Swiper Vue.js components
  import SwiperCore, { Autoplay, EffectCube } from 'swiper';
  import { Swiper, SwiperSlide } from 'swiper/vue';

  import 'swiper/swiper.scss';
  import 'swiper/components/navigation/navigation.scss';
  import 'swiper/components/pagination/pagination.scss';
  import 'swiper/components/scrollbar/scrollbar.scss';

  import 'swiper/components/effect-cube/effect-cube.scss';


  SwiperCore.use([Autoplay, EffectCube]);

  // Import Swiper styles
  export default {
    components: {
      Swiper,
      SwiperSlide,
    },
    methods: {
      onSwiper(swiper) {
        console.log(swiper)
      },
      onSlideChange() {
        console.log('slide change')
      },
    },
  };
</script>
