<template>
<div class="bg-background-primary flex flex-col w-full" :class="theme">
  <NavBar :onThemeClick="onThemeClick" />
  <div class="bodyContainer flex flex-wrap sm:flex-nowrap mt-20 mr-0 ml-0 mb-20 xl:mt-10 xl:mr-60 xl:mb-12 xl:ml-60">
    <div class="leftContainer flex flex-col m-auto sm:m-0">
      <!-- <p class="name text-lg">Sravani</p> -->
      <img class="imageContainer h-80 w-60" alt="Vue logo" src="./assets/image.jpg">
      <div class="flex-1 flex justify-evenly">
        <a href="mailTo:sravanin07.nagavarapu@gmail.com" target="_blank">
          <img class="imageContainer image h-5" alt="Gmail" src="./assets/gmail.svg">
        </a>
        <a href="https://www.linkedin.com/in/sravani-nagavarapu/" target="_blank">
          <img class="imageContainer image h-5" alt="Linkedin" src="./assets/instagram.svg">
        </a>
        <a href="https://www.instagram.com/nagavarapu_sravani/" target="_blank">
          <img class="imageContainer image h-5" alt="Instagram" src="./assets/linkedin.svg">
        </a>
      </div>
    </div>
    <div class="sm:ml-8 ml-5 mr-5">
      <div class="intro mt-12 text-sm sm:text-base">
        Hey, This is sravani, i am a front end developer for mojoreads and remush web applications and having {{ yearsOfExperience}} years of experience. I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences.Enthusiastic in solving challenges, my logical thinking ability helps in problem solving. My leader ship qualities and hardwork made me a team lead.
        <br>
        I'm having more than {{ yearsOfExperience }} years of experience in React with redux. And 1 year of experience in vueJs. I love building websites that are creative and user friendly
      </div>
    </div>
  </div>
  <div class="secondSection flex flex-col items-center mt-0 mb-10 mr-0 ml-0 xl:mt-4 xl:mr-60 xl:ml-60">
    <div class="intro text-2xl mt-12">Technical Skills</div>
     <div class="grid grid-flow-col grid-rows-2 sm:grid-flow-col gap-4 mt-4">
        <a href="https://reactjs.org/" target="_blank">
          <img class="imageContainer image sm:mr-6 h-10" alt="React" src="./assets/react.svg">
        </a>
        <a href="https://vuejs.org/" target="_blank">
          <img class="imageContainer image sm:mr-6 h-10" alt="Vue" src="./assets/vue.png">
        </a>
        <a href="https://about.gitlab.com/" target="_blank">
          <img class="imageContainer image sm:mr-6 h-10" alt="Git" src="./assets/git.svg">
        </a>
        <a href="https://redux.js.org/" target="_blank">
          <img class="imageContainer image sm:mr-6 h-10" alt="Redux" src="https://lh3.googleusercontent.com/6wr4z-Az56tbunqZMy8AMw1g2bEinwGpK0uZ3lw2ts3VOizNMbjLpMIgvXpwR9i0O7ZQ1cDfU0nycOS5M4iKv4WEG7A=w440-h280-e365-rj-sc0x00ffffff">
        </a>
        <a href="https://developer.android.com/about" target="_blank">
          <img class="imageContainer image sm:mr-6 h-10" alt="Android studio" src="./assets/as.png">
        </a>
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
          <img class="imageContainer image sm:mr-6 h-10" alt="CSS" src="./assets/css.svg">
        </a>
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
          <img class="imageContainer image sm:mr-6 h-10" alt="HTML" src="./assets/html-5.svg">
        </a>
        <a href="https://www.javascript.com/" target="_blank">
          <img class="imageContainer image sm:mr-6 h-10" alt="JS" src="./assets/jslogo.png">
        </a>
         <a href="https://www.mysql.com/" target="_blank">
          <img class="imageContainer image sm:mr-6 h-10" alt="MySql" src="./assets/mysql.jpg">
        </a>
        <a href="https://www.mongodb.com/" target="_blank">
          <img class="imageContainer image sm:mr-6 h-10" alt="MongoDB" src="./assets/mongoDB.jpg">
        </a>
        <a href="https://nextjs.org/" target="_blank">
          <img class="imageContainer image sm:mr-6 h-10" alt="NextJs" src="./assets/nextjs.jpg">
        </a>
        <a href="https://tailwindcss.com/" target="_blank">
          <img class="imageContainer image sm:mr-6 h-10" alt="NextJs" src="./assets/tailwind.png">
        </a>
      </div>
  </div>
</div>
</template>

<script>

import NavBar from './components/NavBar/NavBar.vue';

export default {
  name: 'App',

  props: {
    msg: String
  },

  components: {
    NavBar,
  },

  data() {
    return {
      theme: 'theme-contemporary',
      showGreetings: false
    };
  },

  computed: {
    yearsOfExperience() {
      const joiningDate = new Date(2019, 2, 18);
      const dt = new Date;
      const yearsOfExperience = dt.getFullYear() - joiningDate.getFullYear();

      return yearsOfExperience;
    },

    monthsOfExperience() {
      const joiningDate = new Date(2019, 2, 18);
      const dt = new Date;
      const monthsOfExperience = dt.getMonth() - joiningDate.getMonth();

      return monthsOfExperience;
    },
  },

  methods: {
    onThemeClick(theme) {
      console.log('theme', theme);
      this.theme = theme;
    },
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.bodyContainer {
  display: flex;
}

.secondSection {
  border-top: 1px solid var(--border-color);
}

.leftContainer {
  width: fit-content;
  min-width: 270px;
}

.name {
  color: var(--font-primary);
  font-family: system-ui;
}

.imageContainer {
  margin-top: 1rem;
}

.pages {
  color: white;
  width: 200px;
  margin: 2rem 0;
}

.intro {
  color: var(--font-primary);
  font-weight: bold;
  letter-spacing: 0.2ch;
  line-height: 3ch;
}

</style>
